*{
  padding: 0;
  margin: 0;
  /* background-color: royalblue; */
}

.Container{
  margin: 100px auto;
  background-color: #33393d;
  color: white;
  height: 500px;
  width: 350px;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

